Repository tylerwray/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timothyis, @msweeneydev, @coetry, @joecohens, @paulogdm, @arunoda, @leo, @AndyBitz, @TooTallNate, @anatrajkovska, @javivelasco, @mglagola, @juancampa, @hharnisc, @dav-is, @styfle

minor
  pages/docs/v2/advanced/platform/deployments.mdx
Owners: @leo, @styfle, @timothyis, @msweeneydev, @joecohens, @coetry

Add quickstarts page
  components/quickstarts/index.js
  components/quickstarts/quickstart.js
  components/quickstarts/quickstarts.js
  components/topics/index.js
  lib/data/v2/docs.js
  pages/docs/v2/quickstarts.mdx
  public/static/topics/icons/docusaurus.svg
  public/static/topics/icons/eleventy.png
  public/static/topics/icons/ember.png
  public/static/topics/icons/gridsome.svg
  public/static/topics/icons/mdx-deck.png
  public/static/topics/icons/nuxt.svg
  public/static/topics/icons/preact.svg
Owners: @timothyis, @msweeneydev, @coetry

Disable amp but make quickstarts amp-ready
  components/quickstarts/quickstart.js
  pages/docs/v2/quickstarts.mdx
Owners: @timothyis, @msweeneydev, @coetry

change migration links
  components/layout/docs.js
  pages/docs/api/v1/index.js
  pages/docs/v1-upgrade.js
  pages/docs/v1/features/cdn.mdx
  pages/docs/v2/advanced/platform/overview.mdx
Owners: @timothyis, @msweeneydev, @coetry, @anatrajkovska, @arunoda, @javivelasco, @mglagola, @leo, @styfle, @joecohens

Apply suggestions from code review
  pages/docs/v2/advanced/platform/deployments.mdx
Owners: @leo, @styfle, @timothyis, @msweeneydev, @joecohens, @coetry

update links
  pages/docs/builders/builders-mdx/advanced/advanced.mdx
  pages/docs/builders/builders-mdx/official-builders/official-builders.mdx
  pages/docs/configuration/configuration-mdx/configuration/configuration.mdx
  pages/docs/configuration/configuration-mdx/routes/routes.mdx
  pages/docs/error/application/BODY_NOT_A_STRING_FROM_FUNCTION.mdx
  pages/docs/error/application/FUNCTION_INVOCATION_TIMEOUT.mdx
  pages/docs/error/application/NO_STATUS_CODE_FROM_FUNCTION.mdx
  pages/docs/now-cli/now-cli-mdx/commands/remove.mdx
  pages/docs/v1/features/cdn.mdx
Owners: @timothyis, @msweeneydev, @coetry, @leo, @styfle, @AndyBitz, @joecohens, @juancampa, @dav-is

update links
  lib/data/guides.json
  pages/docs/v2/advanced/platform/projects.mdx
  pages/docs/v2/environment-variables-and-secrets.mdx
  pages/docs/v2/network/caching.mdx
  pages/docs/v2/network/headers.mdx
  pages/docs/v2/network/overview.mdx
  pages/docs/v2/network/status-codes.mdx
  pages/guides/deploying-next-and-mysql-with-now.mdx
  pages/guides/handling-node-request-body.mdx
  pages/guides/migrate-to-zeit-now.mdx
  pages/guides/redirect-from-www.mdx
Owners: @timothyis, @msweeneydev, @coetry, @leo, @styfle, @joecohens, @juancampa, @hharnisc, @dav-is

replace lambda with serverless function
  pages/docs/v2/advanced/platform/glossary.mdx
Owners: @leo, @styfle, @timothyis, @msweeneydev, @joecohens, @coetry

Improving readability of Serverless function docs
  pages/docs/v2/serverless-functions/introduction.mdx
Owners: @leo, @AndyBitz, @TooTallNate, @timothyis, @msweeneydev, @coetry

Adding tick marks
  pages/docs/v2/serverless-functions/introduction.mdx
Owners: @leo, @AndyBitz, @TooTallNate, @timothyis, @msweeneydev, @coetry

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                                           @timothyis @msweeneydev @coetry
pages/docs/v2/introduction.mdx              @joecohens @paulogdm @msweeneydev @timothyis @coetry
pages/docs/v2/git-integration.mdx           @arunoda @timothyis @msweeneydev @coetry
pages/docs/v2/build-step.mdx                @leo @AndyBitz @TooTallNate @timothyis @msweeneydev @coetry
pages/docs/v2/custom-domains.mdx            @anatrajkovska @javivelasco @mglagola @joecohens @timothyis @msweeneydev @coetry
pages/docs/v2/serverless-functions/         @leo @AndyBitz @TooTallNate @timothyis @msweeneydev @coetry
pages/docs/v2/network/                      @juancampa @hharnisc @dav-is @timothyis @msweeneydev @joecohens @coetry
pages/docs/v2/advanced/now-for-github.mdx   @arunoda @timothyis @msweeneydev @coetry
pages/docs/v2/advanced/now-for-gitlab.mdx   @arunoda @timothyis @msweeneydev @coetry
pages/docs/configuration    @leo @styfle @AndyBitz @timothyis @msweeneydev @joecohens @coetry
pages/docs/v2/advanced/deploy-hooks.mdx     @anatrajkovska @javivelasco @mglagola @timothyis @msweeneydev @joecohens @coetry
pages/docs/v2/advanced/builders.mdx         @leo @AndyBitz @styfle @timothyis @msweeneydev @joecohens @coetry
pages/docs/v2/advanced/concepts/            @leo @timothyis @msweeneydev @joecohens @coetry
pages/docs/v2/advanced/domains/             @anatrajkovska @javivelasco @mglagola @timothyis @msweeneydev @joecohens @coetry
pages/docs/v2/advanced/platform/            @leo @styfle @timothyis @msweeneydev @joecohens @coetry
pages/docs/api/                             @anatrajkovska @arunoda @javivelasco @mglagola @timothyis @msweeneydev @coetry
pages/docs/integrations/                    @arunoda @timothyis @msweeneydev @coetry
pages/docs/error/                           @juancampa @dav-is @timothyis @msweeneydev @joecohens @coetry
